/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.answer-button {
  width: 60px;  
  margin:5px;
  padding:0; /* fixes centering issues. */
}

table.resultsGrid > tr:first-child {
  font-weight:bold;
}

table.resultsGrid > tr > td:first-child {
  font-weight:bold;
}

table.resultsGrid > tr > td:not(td:first-child) {
  width:3em;
  padding:0.5em;
}

table.resultsGrid td.success {
  background-color:green;
}

table.resultsGrid td.failure {
  background-color:red;
}