/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.answer-button {
  width: 60px;  
  margin:5px;
  padding:0; /* fixes centering issues. */
}

/* results table grid */

table.resultsGrid {
  margin-left:auto;
  margin-right:auto;
}

table.resultsGrid tr {
  height:2em;
}

table.resultsGrid th {
  font-weight:bold;
  padding:0;
  text-align: center;
  width:3em;
}

table.resultsGrid td {
  padding:0;
  border-radius:0;

  border-width:0.5em;
  border-color:white;  
  border-style: solid;
  border-collapse: separate;
  width:3em;
}

table.resultsGrid td.success {
  background-color:rgb(77, 184, 77);
}

table.resultsGrid td.failure {
  background-color:rgb(190, 97, 97);
}